    /* links */
    @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito:wght@200;300;400;500;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cabeçalho {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 1%;
    font-family: 'Aclonica';
}
html,body{
    background-color: #1b1b1b;
    font-family: 'Aclonica';
}
header{
    padding:20px 0;
    background-color:#ed9a47;
}
.logo{
    width: 11%;
}
.menu{
    padding-top:40px;
    width:50%;
    text-align: right;
}
.menu a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-family: 'Aclonica';
}
.Takoyaki {
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
    font-family: 'Aclonica';
}
.texto {
    margin-left: 60px;
    font-weight: bold;
}
.temporada,.todos-animes,.middle-ep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imagens {
    border: 3px solid #ed9a47;
}
.conteudo {
    background-color: #1b1b1b;
    border: white 1px;
    font-family: 'Aclonica';
}
.footer {
    background-color: #b37436;
}
.texto-footer {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.nome-anime {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.sinopse-imagem {
    margin-left: 40px;
    position: absolute;
   
}
.sinopse-total {
    background-color:#222020;
}
.sinopse-texto {
    line-height: 25px;
    text-align: justify;
 
}

.sinopse-parcial {
    margin-right: 300px;
    margin-left: 390px;
    color: #ffffff;
    font-size: 20px;
}
.tag {
    display: flex;
    justify-content:space-around;
    margin-right: 500px;
}
.ep {
    background-color: #222020;
}
.header-ep {
    font-size: 20px;
    margin-left:50px;
    color: #ffffff;

}
.ep-numero {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.imagens-ep {
    border: 3px solid #ed9a47;
}
.mais-ep {
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    
}
.botao {
    display: flex;
    justify-content:space-around;
    padding: 15px;
    
}
.player-true {
    display: block;
    justify-content: center;
    background-color:#ed9a47;
    padding: 15px;
    margin-left: 25%;
    margin-right: 20%;
}
.tex {
    background-color: #242424;
    color:white;
    margin: 7px;
    padding: 15px;
    font-size: 30px;
}

.search-box {
    padding-right: 30px;
}

html {
    size: 100%;
}